

.cuadro{
	background-color: #FCAD00;
	height: 30vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cuadro h1{
	color: white;
	font-size: 40px;
}
.preg{
	background-color: white;
	width: 80%;
	margin: auto;
	border-bottom: 1px solid lightgray;
}
.preg p{
	padding: 8px;
}
.preguntas{
	margin: 20px 0;
}