
/*********************color***************************/
/* gris oscuro #414143
   amarillo #FCAD00
   gris claro #DDDEE0
/********************fin reset***************************/
body{
	background-color: #414143;
	font-family: 'Rubik', sans-serif;
	height: 100vh;
}
@media screen and (min-width: 500px) {
    body {
        max-width: 600px;
        margin: auto;
    }
    footer{
    	max-width: 600px;
    	margin: auto;
    }
}
.logo-inicio{
	text-align: center;
}

.logo img{
	width: 30%;
	height: auto;
	margin: 50px 0 0 0;
}
.text-logo{
	font-weight: 900;
	font-size: 40px;
	color: #FCAD00;
}
.formulario{
	text-align: center;
	margin-top: 7vh;
	
}
.form{
	text-align: center;
}
.form input, .form button{
	width: 80%;
	margin: auto;
	display: block;
	line-height: 40px;
}
.malo{
	display: none;
	color: white;
}
.form button{
	background-color: #FCAD00;
	color: #414143;
	font-size: 20px;
	border: none;
	padding: 8px 0;
}
.form a{
	color: white;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%
}
.regs p{
	color: white;
	text-align: center;

}
.regs a{
	color: #FCAD00;
}
.regs {
	text-align: center;
	display: flex;
	justify-content: center;
}


