
.ver-saldo *{
    display: block;
    width: 90%;
    margin: 40px auto;
}
input{
    height: 30px;
    border: none;
    border-bottom: 1px solid #414143;
    background-color: transparent;
  
}
select{
    height: 40px;
    background-color: white;
}
.seleccion{
    width: 100%;
}
button{
    background-color: #FCAD00;
    border: none;
    color: white;
    padding: 20px;
    font-size: 20px;
}
.tu-saldo{
    width: 60%;
    margin: auto;
}
.tu-saldo h3{
    background-color: #414143;
    color: white;
    padding: 15px;
    text-align: center;
}
.tu-saldo .saldo{
    height: 10vh;
    background-color: #FCAD00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tu-saldo .saldo p{
    font-size: 20px;
}


.tu-tarifa{
    width: 60%;
    margin: auto;
}
.tu-tarifa h3{
    background-color: #414143;
    color: white;
    padding: 15px;
    text-align: center;
}
.tu-tarifa .saldo{
    height: 10vh;
    background-color: #FCAD00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tu-tarifa .saldo p{
    font-size: 20px;
}
